---
---

@import 'bootstrap/bootstrap';

.top-header {
    background-color: black;
}

ol,ul {
    list-style-type: none;
}

ul.hyphen li:before {
    content: '\2014';
    position: absolute;
    margin-left: -20px;
}

p {
    margin-top: -10px;
}

.title {
    font-size: 24px;
    margin-top: 30px;
}

.when,.where {
    color: red;
}
