@import url('https://fonts.googleapis.com/css?family=Lato|Source+Sans+Pro|Roboto+Slab|Roboto');
$body-bg: #fff;
$body-color: #000;
//$body-color: #002458;
$color: #0f0;
$text-color: #000;
//$text-color: #002458;
$font-family-base: "Roboto", "Helvetica", sans-serif !default;
$font-family-sans-serif: "Roboto", "Helvetica", sans-serif !default;
$font-family-serif: "Roboto Slab", serif !default;
$link-color: red;
$link-hover-color: blue;
